<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="/cloudac/style.css" rel="stylesheet">
</head>

<body>
	<div id="root"></div>
	<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=CHKBZ-4QX64-ODOUX-XAHB2-FZYPV-ZRBYZ"></script>
	<script type="text/javascript" src="/cloudac/vendor.bundle.js"></script>
	<script type="text/javascript" src="/cloudac/main.bundle.js"></script>
</body>

</html>